<!--Modal to show the loading icon-->
<div class="modal fade" id="static-loading-img" tabindex="-1"
     aria-labelledby="Loading-Modal"
     aria-hidden="true" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-loading"
         id="centrered-loading-modal">
        <div class="modal-body modal-body-loading">
            <img src="~/Assets/loading-red.gif" class="loader-gif" />
        </div>
    </div>
</div>
<!--End modal section-->