<!-- Modal -->
<div class="modal fade" id="Error-Modal" tabindex="-1" aria-labelledby="Error-Find-Report"
     aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="line line-top"></div>

            <div class="msg-error">
                <h3 class="fs-2 text-danger" id="headerModalLabel">
                    Sorry, something was wrong...
                </h3>
                <p style="font-size: 12pt;">
                    An unexpected error has ocurred during the procedure of your request.
                </p>

                <p style="font-size: 12pt;">
                    Please, try to <b>send your request again</b> and if the problem persist
                    <b>reload</b> the website.
                </p>

                <p id="error-description">

                </p>
            </div>

            <div class="line line-bot"></div>
        </div>
    </div>
</div>

<style>
    .msg-error{
        margin-left: 6%;
        margin-right: 6%;
    }
</style>