<!-- Modal -->
<div class="modal fade" id="F-REPORT" tabindex="-1" aria-labelledby="Modal-Find-Report"
     aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="line line-top"></div>

            <h1 class="modal-title fs-5" id="headerModalLabel">Find MWR</h1>

            @using (Html.BeginForm("getAnotherReport", "Report", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "modal-body", role = "form" }))
            {

                <div class="selecs-modal">
                    <div class="col">
                        @Html.Label("Year", new { @for = "year-select" })
                        @Html.ListBox("year-select")
                    </div>

                    <div class="col">
                        @Html.Label("Month", new { @for = "month-select" })
                        @Html.ListBox("month-select")
                    </div>
                </div>

                <div class="btns-actions row">
                    <button type="button" class="btn btn-outline-danger btns" data-bs-dismiss="modal">Cancelar</button>

                    <button type="submit" class="btn btn-success btns" id="btn-find" disabled>
                        Find
                    </button>
                </div>
            }

            <div class="line line-bot"></div>
        </div>
    </div>
</div> 