/*
    This CSS File has rules to modify the loading modal, which is responsible to show
    a loading icon in the screen.
*/

/*It's neccessary not to put a background in these elements, due to we just want to
    see the loading icon.*/
.modal-content-loading, .modal-dialog-loading, .modal-body-loading {
    background: none;
}

/*Rules to modify loading icon/gif.*/
/*This symbols is always in the midle of the screen, that's why we n*/
.loader-gif {
    opacity: 0.6;
    filter: hue-rotate(200deg);
    position: fixed;
}

@media screen and (max-width: 465px){
    .loader-gif {
        width: 10%;
        left: 45%;
        top: 45%;
    }
}

@media screen and (min-width: 466px){
    .loader-gif {
        width: 14%;
        left: 43%;
        top: 43%;
    }
}